* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

:root {
    --main-color: #333333;
}

.f-pop {
    font-family: "Poppins", sans-serif;
}

.f-size {
    font-size: xx-large;
}

.mute-color {
    color: #4D4D4D;
}

.bg-color {
    background-color: var(--main-color);
}

.w-100 {
    width: 100%;
}

.w-10 {
    width: 10%;
}

.w-5 {
    width: 5%;
}

.w-15 {
    width: 15%;
}

.w-16 {
    width: 15%;
}

.w-18 {
    width: 18%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-28 {
    width: 28%;
}

.w-30 {
    width: 30%;
}

.w-31 {
    width: 31%;
}

.w-35 {
    width: 35%;
}

.w-38 {
    width: 38%;
}

.w-45 {
    width: 45%;
}

.w-62 {
    width: 62%;
}

.w-66 {
    width: 66%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.mLeft-3 {
    margin-left: 3%;
}

.mBottom-1 {
    margin-bottom: 1%;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.d-flex {
    display: flex;
    align-items: center;
}

.jcontent-between {
    justify-content: space-between;
}

.my-1 {
    margin-top: 0.8%;
    margin-bottom: 0.8%;
}

.my-2 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.my-3 {
    margin-top: 3%;
    margin-bottom: 3%;
}


.pTop-1 {
    padding-top: 0.2%;
}

.border-bottom {
    border-bottom: 2px solid #E6E6E6;
}

.border-right {
    border-right: 2px solid #E5E5E5;
}

.border-top {
    border-top: 2px solid #E5E5E5;
}

.flex-wrap {
    flex-wrap: wrap;
}

.title {
    font-weight: 600;
    color: #1A1A1A;
    font-size: 2rem;
}

.view {
    text-decoration: none;
    color: #00B207;
}

.star-orange {
    color: #FF8A00;
}

.star-grey {
    color: #CCCCCC;
}

.sale {
    background-color: #EA4B48;
    color: white;
    width: fit-content;
    /* padding: 2% 3%; */
    border-radius: 4px;
    font-weight: 500;
    padding: 0.2%;
    position: absolute;
    z-index: 0;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;

}

.navbar .header {
    color: #666666;

}

.navbar .header .right {
    width: 19%;
}

.vrLine {
    background-color: #E6E6E6;
    width: 33px;
    height: 1px;
    color: #E6E6E6;
    transform: rotate(90deg);
    align-self: center;
}

/* middle */
.east .details p:nth-child(1) {
    font-size: small;
}

.search-bar input {
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 4%;
    padding-left: 6%;
    outline: none;
    border: 1px solid #E5E5E5;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.search-bar button {
    padding: 0 7%;
    align-self: stretch;
    outline: none;
    border: none;
    color: white;
    background-color: #00B207;
    font-weight: 600;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

/* Bottom */
.navbar .bottom {
    padding: 1.3% 0;
}



.navbar .bottom .link {
    color: #999999;
    text-decoration: none;
    font-size: larger;
}


/* hero */
.banner .left img {
    border-radius: 10px;
}

.featured {
    justify-content: space-around;
    border: none;
    outline: none;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(0, 38, 3, 0.288);
    border-radius: 8px;
    padding: 2% 0;
}

/* Popular Categoreis */



.cats .card {
    /* height: 213px; */
    border: 2px solid #E5E5E5;
    border-radius: 8px;
    outline: none;
    text-align: center;
    padding: 1.5% 0;
}

.cats .card h3 {
    font-weight: 500;
    color: #1A1A1A;
}

.cats .card:hover {
    box-shadow: 0px 8px 30px rgba(0, 38, 3, 0.288);
    border-color: #2C742F;
}

.cats .card:hover h3 {
    color: #2C742F;
}

/* Popular products */
.prods {
    align-items: stretch;
}

.continer {
    background-color: white;
    padding: 1%;
    border-left: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;

}

.bag {
    background-color: #F2F2F2;
    padding: 3% 0;
    border-radius: 50%;
    text-align: center;
    margin-right: 3%;
}

.continer:hover {
    border-top: 2px solid #E5E5E5;
    border-right: 2px solid #E5E5E5;
    box-shadow: 0px 8px 30px rgba(0, 38, 3, 0.288);
    border-color: #2C742F;
}

.continer:hover .hover-green {
    color: #2C742F;
}

.continer:hover .bag {
    color: white;
    background-color: #00B207;
}

/* Hot Deals */
.continer-deal {
    background-color: white;
    padding: 1%;
    border-left: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;

}

.continer-deal:hover {
    border-top: 2px solid #E5E5E5;
    border-right: 2px solid #E5E5E5;
    box-shadow: 0px 8px 30px rgba(0, 38, 3, 0.288);
    border-color: #2C742F;
    /* transform: scale(2,2); */
    /* margin-right: 20%; */
    width: 40%;

}


/* Lastest News */

.news .items .item {
    box-shadow: 0px 8px 30px rgba(0, 38, 3, 0.288);
    border-radius: 8px;
}

.news .items .item .data p {
    font-size: 14px;
    color: #666666;
    font-weight: 400;
}

/* testimonials */
.arrows {
    text-align: end;
}

.arrow {
    padding: 2%;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: white;
    color: #1A1A1A;
    outline: none;
    border: none;
}

.arrow:hover {
    background-color: #00B207;
    color: white;
}

.profile-image1 {
    background-image: url("../imgs/users/user1.jpg");
}

.profile-image2 {
    background-image: url("../imgs/users/user2.jpg");
}

.profile-image3 {
    background-image: url("../imgs/users/user3.jpg");
}

.profile-image1,
.profile-image2,
.profile-image3 {
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
}


/* Instgram logos */

.photo {
    width: 15%;
    aspect-ratio: 1/1;
    /* background-color: red; */
    border-radius: 10px;
    background-size: cover;
    background-position: 0 33%;
    /* position: absolute; */
    overflow: hidden;

}

.ov {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2rem;
    background-color: hsla(124, 33%, 26%, 0.8);
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;

}

.photo:hover .ov {
    opacity: 1;
}

/* Subscribtion */
.Subscribtion {
    padding: 4% 0;
}

.subscribe-box {
    background: #fff;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.subscribe-box input {
    width: 80%;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 1rem;
    border-radius: 50px;
}

.subscribe-box button {
    border: none;
    background: #1dbf2f;
    color: white;
    padding: 3% 8%;
    align-self: stretch;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
}

.icons {}

.icons .icon {
    width: 23%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: #4D4D4D;
    justify-content: center;
    font-size: 1.5rem;

}

.icons .icon:hover {
    background-color: #00B207;
    color: white;
}

/* Footer */

.footer {
    color: white;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ul li {
    /* margin-bottom: 15% ; */
    color: #999999;
}

.copyright{
    border-top: 1px solid #666666 ;
    padding-top: 3%;
    color:#666666 ;
}