* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #333333;
}

.f-pop {
    font-family: "Poppins", sans-serif;
}

.f-size {
    font-size: xx-large;
}

.mute-color {
    color: #4D4D4D;
}

.bg-color {
    background-color: var(--main-color);
}

.w-100 {
    width: 100%;
}

.w-10 {
    width: 10%;
}

.w-5 {
    width: 5%;
}

.w-15 {
    width: 15%;
}

.w-16 {
    width: 15%;
}

.w-18 {
    width: 18%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-28 {
    width: 28%;
}

.w-30 {
    width: 30%;
}

.w-31 {
    width: 31%;
}

.w-35 {
    width: 35%;
}

.w-45 {
    width: 45%;
}

.w-62 {
    width: 62%;
}

.w-66 {
    width: 66%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.mBottom-1 {
    margin-bottom: 1%;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.d-flex {
    display: flex;
    align-items: center;
}

.jcontent-between {
    justify-content: space-between;
}

.my-1 {
    margin-top: 0.8%;
    margin-bottom: 0.8%;
}

.my-2 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.pTop-1 {
    padding-top: 0.2%;
}

.border-bottom {
    border-bottom: 2px solid #E6E6E6;
}

.border-right{
    border-right:2px solid #E5E5E5 ;
}
.border-top{
     border-top: 2px solid #E5E5E5;
}

.flex-wrap {
    flex-wrap: wrap;
}

.title {
    font-weight: 600;
    color: #1A1A1A;
    font-size: 2rem;
}

.view {
    text-decoration: none;
    color: #00B207;
}

.star-orange {
    color: #FF8A00;
}

.star-grey {
    color: #CCCCCC;
}

.sale {
    background-color: #EA4B48;
    color: white;
    width: fit-content;
    /* padding: 2% 3%; */
    border-radius: 4px;
    font-weight: 500;
    padding: 0.2%;
    position: absolute;
    z-index: 0;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;

}

.navbar .header {
    color: #666666;

}

.navbar .header .right {
    width: 19%;
}

.vrLine {
    background-color: #E6E6E6;
    width: 22px;
    height: 1px;
    color: #E6E6E6;
    transform: rotate(90deg);
    align-self: center;
}

/* middle */
.east .details p:nth-child(1) {
    font-size: small;
}

.search-bar input {
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 4%;
    padding-left: 6%;
    outline: none;
    border: 1px solid #E5E5E5;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.search-bar button {
    padding: 0 7%;
    align-self: stretch;
    outline: none;
    border: none;
    color: white;
    background-color: #00B207;
    font-weight: 600;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

/* Bottom */
.navbar .bottom {
    padding: 1.3% 0;
}

.navbar .bottom ul {
    list-style: none;
}

.navbar .bottom .link {
    color: #999999;
    text-decoration: none;
    font-size: larger;
}


/* hero */
.banner .left img {
    border-radius: 10px;
}

.featured {
    justify-content: space-around;
    border: none;
    outline: none;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(0, 38, 3, 0.288);
    border-radius: 8px;
    padding: 2% 0;
}

/* Popular Categoreis */



.cats .card {
    height: 213px;
    border: 2px solid #E5E5E5;
    border-radius: 8px;
    outline: none;
    text-align: center;
}

.cats .card h3 {
    font-weight: 500;
    color: #1A1A1A;
}

.cats .card:hover {
    box-shadow: 0px 8px 30px rgba(0, 38, 3, 0.288);
    border-color: #2C742F;
}

.cats .card:hover h3 {
    color: #2C742F;
}

/* Popular products */
.prods{
    align-items: stretch;
}
.continer {
    padding: 1%;
    /* border-top: 2px solid #E5E5E5;
    border-right:2px solid #E5E5E5 ; */
    border-left: 2px solid #E5E5E5;
    border-bottom: 2px solid #E5E5E5;
    
}

.bag {
    background-color: #F2F2F2;
    padding: 3% 0;
    border-radius: 50%;
    text-align: center;
    margin-right: 3%;
}

.continer:hover {
    box-shadow: 0px 8px 30px rgba(0, 38, 3, 0.288);
    border-color: #2C742F;
}

.continer:hover .hover-green {
    color: #2C742F;
}

.continer:hover .bag {
    color: white;
    background-color: #00B207;
}

